
body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
main {
    display: flex;
    height: 642px;
}
main > aside {
    width: 280px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(0, 0, 80);
}
aside > header {
    padding: 30px 30px 10px 30px;
}
aside > header h2 {
    font-family: 'Antonio', sans-serif;
    margin-bottom: 3px;
}
aside > header p {
    font-size: small;
    margin: 0;
}
aside > header img {
    width: 150px;
    border: 8px solid white;
    border-radius: 50%;
}
aside > section {
    text-align: left;
    width: 100%;
}
aside > section h1 {
    background-color: rgb(0, 0, 40);
    padding: 7px 30px;
    margin-bottom: 7px;
}
aside > section p {
    display: flex;
    padding: 0 30px;
    margin: 0;
}
aside > section a {
    margin: auto 10px auto 0;
}
aside > section table td {
    padding-left: 30px;
}
main > section {
    width: 520px;
    border: 2px solid rgb(0, 0, 60);
    box-sizing: border-box;
    text-align: left;
    padding-top: 15px;
}
main > section > article {
    display: flex;
}

main > section > article h3 {
    float: left;
    writing-mode: vertical-rl;
    margin-left: 0;
    padding: 83px 7px 83px 7px;
    color: white;
    letter-spacing: 2px;
    background-color: red;
    border-radius: 0 15px 15px 0;
}
main > section > article table {
    width: calc(100% - 55px);
    float: left;
    margin-left: 0;
    border-spacing: 0;
    align-self: center;
}
main >section > article > table img {
    width: 100px;
}
main >section > article > table hr {
    display: flex;
    margin: 3px;
    width: 90%;
}
hr {
    margin: 3%;
}
main > section > article:nth-child(3) h3 {
    margin-left: 0;
    padding: 35px 7px 35px 7px;
    background-color: green;
}
main > section > article:nth-child(3) table td:nth-child(1) {
    font-size: small;
}
main > section > article:nth-child(3) table td:nth-child(2) {
    font-size: small;
}

@media only screen and (orientation: portrait) {
    body {
        width: 100vw;
    }
    main {
        flex-direction: column;
    }
    main > aside {
        display: flex;
        width: 100%;
        min-width: 380px;
    }
    aside > header {
        padding: 7px;
    }
    main > section {
        display: block;
        width: 100vw;
        min-width: 380px;
        border: none;
        min-height: initial;
    }
}
@media only screen and (max-width: 420px) {
    main >section > article > table img {
        display: none;
    }
    main > aside {
        flex-direction: column;
    }
}